:root {
  --emerald: #01403A;
  --demerald: #012623;
  --beige: #A67968;
  --salmon: #F28F79;
  --eggshell: #F2F2F2;
}

.header {
  background-color: var(--emerald);
  color: var(--salmon);
  height: 100px;
  padding: 50px 0 0 95px;
}
.form {
  background-color: var(--beige);
  color: var(--demerald);
  margin: 0;
}
